#header {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #1c1c1c;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}

/*text in top block*/
#top-block {
  position: absolute;
  margin-left: 8%;
  width: 84%;
  max-width: 1000px;
}

#title {
  font-family: 'Droid Serif';
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: 5px;
}

#subtitle {
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

#early {
  background-color: #ec1c24;
  padding: 1px 6px 0px 6px;
  font-size: 12px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}

#byline {
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 25px;
}

#status-bar {
  border-top: 1px solid #d3d3d3;
  padding-top: 25px;
  width: 100%;
  max-width: 900px;
}

#winner, #precincts {
  float: left;
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.winner-status, #pct {
  background-color: #d3d3d3;
  padding: 3px 7px 3px 7px;
}

#winner {
  margin-right: 25px;
}

/*styles for map and legend*/
#map {
  padding-top: 60px;
}

#map-image, #legend-image {
  width: 100%;
}

#legend-image {
  margin: 10px 0px 10px 0px;
}

#legend {
  text-align: center;
  font-size: 13px;
  margin-bottom: 50px;
  font-family: 'Poppins';
}

#legend-big {
  fill: #d3d3d3;
}

#legend-mid {
  fill: #b2b2b2;
}

#legend-small {
  fill: #848484;
}

#map-wrapper {
  position: relative;
}

#svg-box {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
}

#svg-box circle {
  opacity: 0.8;
  stroke: white;
  stroke-width: 0.5;
}

#svg-box text {
  font-family: 'Poppins';
  text-anchor: middle;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

/*styles for table*/
#table {
  font-size: 13px;
  margin-top: 50px;
  margin-bottom: 100px;
  font-family: 'Poppins';
}

.table-row {
  border-bottom: 1px solid #d3d3d3;
}

#state {
  background-color: #d3d3d3;
}

.cell {
  float: left;
  padding: 5px 5px 5px 0px;
}

.head-row {
  font-weight: 500;
  line-height: 1.3em;
}

#candidates-row {
  border-bottom: none;
}

.candidates {
  text-transform: uppercase;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 10px;
  margin-right: 8px;
}

/*media queries*/
@media (min-width: 768px) {
  #map {
    position: relative;
  }
  #legend {
    position: absolute;
    margin-bottom: 0px;
    bottom: 0px;
  }
}

@media (max-width: 1200px) {
  #top-block {
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  #map {
    padding-top: 80px;
  }
  #top-block {
    margin-left: auto;
    width: 90%;
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  #legend {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  #top-block {
    margin-left: auto;
    width: 90%;
    max-width: 540px;
  }
  #title, #subtitle, #byline {
    text-align: center;
  }
  #table {
    font-size: 11px;
  }
  #svg-box text {
    font-size: 7px;
  }
  #map {
    padding-top: 160px;
  }
}

@media (max-width: 500px) {
  .county {
    display: none;
  }
  #top-block {
    margin-top: 0px;
  }
  #map {
    padding-top: 210px;
  }
  #winner, #precincts {
    font-size: 10px;
  }
}
