#header {
  width: 100%;
  height: 15px;
  background-color: #d3d3d3;
  margin-bottom: 40px;
}

#title {
  font-family: 'Droid Serif';
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: 5px;
}

#subtitle {
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

#byline {
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: 400;
}

#map {
  padding-top: 80px;
}

#map-image, #legend-image {
  width: 100%;
}

#legend-image {
  margin: 10px 0px 10px 0px;
}

#legend {
  text-align: center;
  font-size: 13px;
  margin-bottom: 50px;
  font-family: 'Poppins';
}

#winner {
  background-color: #d3d3d3;
  padding: 5px;
}

#pct {
  background-color: #d3d3d3;
  padding: 5px;
}

#map-wrapper {
  position: relative;
}

#svg-box {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
}

#svg-box circle {
  opacity: 0.7;
}

#svg-box text {
  font-family: 'Poppins';
  text-anchor: middle;
  font-size: 10px;
  font-weight: 600;
}

#table {
  font-size: 12px;
  margin-top: 50px;
  margin-bottom: 100px;
  font-family: 'Poppins';
}

.table-row {
  border-bottom: 1px solid #d3d3d3;
}

#state {
  background-color: #d3d3d3;
}

.cell {
  float: left;
  padding: 5px 0px 5px 0px;
}

.head-row {
  font-weight: 700;
}

#candidates-row {
  border-bottom: none;
}

.candidates {
  text-transform: uppercase;
}

/*media queries*/
@media (min-width: 768px) {
  #map {
    position: relative;
  }
  #legend {
    position: absolute;
    margin-bottom: 0px;
    bottom: 0px;
  }
}

@media (max-width: 768px) {
  #map {
    padding-top: 30px;
  }
  #legend {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  #title, #subtitle, #byline {
    text-align: center;
  }
  #table {
    font-size: 11px;
  }
  #svg-box text {
    font-size: 7px;
  }
}
